.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  body {
    color: white;
  }
  
  h1 {
    color: white;
  }
  ol { 

    color: black;
  }
  footer {
      color: black;
  }
